<div class="YANA_header">
    <div>
        <h1 class="YANA_logo">YANA</h1>
    </div>
    <div class="YANA_header_navbar">
        <a href="{% url 'articleapp:list' %}" class="YANA_header_nav">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="YANA_header_nav">
            <span>Projects</span>
        </a>
        {% if not user.is_authenticated %}
        <!-- Login 버튼 -->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="YANA_header_nav">
            <span>Login</span>
        </a>

        <a href="{% url 'accountapp:create' %}" class="YANA_header_nav">
            <span>SignUp</span>
        </a>

        {% else %}
        <!-- Logout 버튼 -->
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="YANA_header_nav">
            <span>MyPage</span>
        </a>

        <form method="post" action="{% url 'accountapp:logout' %}?next={{ request.path }}" class="inline-form YANA_header_nav">
            {% csrf_token %}
            <button type="submit" class="custom-button">Logout</button>
        </form>
        {% endif %}
    </div>
</div>